.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: .9rem;

  border: 1px solid var(--gray-300);
  border-radius: .2rem;
  max-width: fit-content;

  padding: 1rem;

  margin-inline: auto;
  margin-top: 2rem;
}

.formLogin input {
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  padding: 5px;
  background-color: transparent;

  color: var(--gray-200)
}

.formLogin button {
  border-radius: 5px;
  border:0;
  padding: 5px;
  background-color: var(--gold-300);
  color: black;
  cursor: pointer;
  font-size: .9rem;
  width: 100%;
}